/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
    
  }

  h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  #content {

    background-color: blue;
    width: 1000px;

  }
  
  #partner
  {
    width: 700px;
    height: 600px;
  }
  img
  {
    width: 500px;
    height: 700px;
  }